[Unit]
Description=GO App
After=network.target

[Service]
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

ExecStart=/home/fela/go/bin/etc

[Install]
WantedBy=multi-user.target
Alias=goapp